.* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  max-width: 1200px;
  box-sizing: border-box;
}

/* Navbar */
.nav {
  position:fixed;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  border-bottom: 1px solid #888;
  color: #fff;
}
.navbar {
  display: flex;
  gap: 2rem;
  list-style: none;

}
.navbar_right {
  display: flex;
  gap: 1rem
}

/* Hero Section */
.hero{
  background: linear-gradient(rgba(36, 42, 53, 0.7), rgba(36, 42, 53, 0.7)),url('./images/backgrounds/banner-2.jpg');
  height: 100vh;
  animation: bgburnsEast 25s linear infinite alternate;
  -webkit-animation: bgburnsEast 25s linear infinite alternate;
}
.content-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.content-hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.content-hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.input-block {
  display: flex;
  gap: 0.5px;
  margin-bottom: 2.5rem
}
.stats {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.stat-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: rgba(0,0,0,0.3);
  padding: 12px;
  border-radius: 4px;
}
.stat-box .count {
  font-size: 20px;
  font-weight: bold;
}
/* Button round */
.btn {
  display: flex;
  gap: 4px;
  align-items:center;
  padding: 0.75rem 2rem;
  border: 1px;
  cursor: pointer;
}
.btn-round {
  border-radius: 30px;
}
.form-control {
  height: 53px;
  width:25rem;
  padding: 1px 8px;
  border: 1px solid #d6d6d6;
  font-size: 16px;
}